body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.board {
  /*border:5px red solid;*/
}

.line {
  display: block;
  background: red;
  height: 4px;
  width: 90px;
  position: absolute;
}

.vertical-left {
  transform: rotate(90deg) translate(47px, 28px);
}

.vertical-mid {
  transform: rotate(90deg) translate(47px, -5px);
}

.vertical-right {
  transform: rotate(90deg) translate(47px, -38px);
}

.horizontal-top {
  transform: translate(4px, 14px);
}

.horizontal-mid {
  transform: translate(4px, 47px);
}

.horizontal-bot {
  transform: translate(4px, 81px);
}

.diagonal-topleft {
  width: 120px;
  transform: rotate(45deg) translate(27px, 39px);
}

.diagonal-botleft{
  width: 120px;
  transform: rotate(135deg) translate(40px, -27px);
}

.hidden {
  display:none;
}
